$blue: rgb(50, 109, 161);
$red: rgb(116, 19, 28);
$white: rgb(230, 228, 228);
$black: rgb(20, 22, 23);
$green: rgb(83, 130, 37);

hr {
  width: 20%;
}

.battlefield {
  border: 2px solid $black;
  width: 80vw;
  height: 80vh;
  margin: 0 auto;
  background: #989898;
  color: $white;
  transition: all .6s;
}

.ui_button {
  display: inline-block;
  padding: 15px 30px;
  border: 2px solid darken($blue, 20%);
  background: $blue;
  color: $white;
  text-decoration: none;
  margin: 0px 10px 10px 0;
  transition: all .6s;
  min-width: 100px;
  text-align: center
}

.ui_button:hover {
  cursor: pointer;
}

.cards_list {}

.card {
  color: white;
  display: inline-block;
  vertical-align: top;
  width: 100px;
  height: 160px;
  border: 1px solid black;
  border-radius: 4px;
  margin: 4px 4px 4px -20px;
  padding: 4px;
  font-size: 6px;
    transition: all 0.5s;
}

.card:hover {
  cursor: pointer;
    transform: scale(2.0);
}

.card_header {
  margin-bottom: 4px;
}

.card_cost {
    position: relative;
  float: right;
  clear: both;
    margin-top: -10px;
}

.card_icon {
    display: inline-block;
    width: 12px;
    height: 12px;
}

.card_image {
  width: 94px;
  height: 70px;
  border: 1px solid black;
  border-radius: 2px;
  background: no-repeat center;
  background-size: cover;
  margin: 0 auto;
  padding: 2px;
}

.card_text {
  color: black;
  background: white;
  margin: 0 auto;
  margin-top: 4px;
  width: 91px;
  height: 40px;
  border: 1px solid black;
  border-radius: 4px;
  padding: 4px;
  margin-bottom: 4px;
}

.flavor_text {
  font-style: italic;
}

.card_artist {
  width: 180px;
  height: 14px;
  margin-left: 10px;
}

.card_stats {
  float: right;
  clear: both;
  margin-top: -14px;
}